header {
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
nav ul {
    list-style-type: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
nav a {
    margin: 0 25px;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    background-color: #f0f0f0;
}
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    font-size: 14px;}
.container {
    display: grid;
    place-items: center;
}